- content_for :head do
  %title= t('brand')

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#")= t('brand')
      %li.toggle-topbar.menu-icon
        %a(href="#!")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#{data.app.navigation_links.when_and_where}")= t('navigation.when_and_where')
        %li
          %a(href="#{data.app.navigation_links.musical_guests}")= t('navigation.musical_guests')
        %li
          %a(href="#{data.app.navigation_links.speakers}")= t('navigation.speakers')
        %li.has-form
          %a.button.radius(href="#{data.app.navigation_links.call_to_action}")
            = t('navigation.call_to_action')
.header
  .wrap
    .row
      .content-centered
        %h1= t('brand')
        %p= t('hero.copy')

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.madisonpl.us/")
              %i.icon-ruby
              %span.collapse Madison+
          %li
            %a(href="http://www.saplingevents.com/")
              %i.icon-leaf
              %span.collapse Sapling Events
          %li
            %a(href="#{twitter_link(t('brand'))}")
              %i.icon-twitter
              %span.collapse= t('hero.links.twitter.copy')
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Thursday, August 21
        .line.two from
        .line.three 7-11 PM
      .row
        .content-centered
          %p Rooftop Sculpture Garden<br />Madison Museum of Contemporary Art
          %a.button(href="https://www.google.com/maps/dir//Madison+Museum+of+Contemporary+Art,+227+State+St,+Madison,+WI+53703/@43.074595,-89.389325,17z/data=!4m12!1m3!3m2!1s0x0:0x93f6283ea28831bb!2sMadison+Museum+of+Contemporary+Art!4m7!1m0!1m5!1m1!1s0x880653378c412599:0x93f6283ea28831bb!2m2!1d-89.389325!2d43.074595") Get Directions

#sponsors
.sponsors
  .row
    .content-centered
      %h5= "#{t('brand')} made possible by"
      %ul.sponsor-list
        %li
          %a(href="http://www.wellbe.me/")
            %img(src="images/people/wellbe.png")

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests
      .row
        .content-centered
          %p Musical guests are awesome. We've got em!

      %ul.small-block-grid-2.guest-list
        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      .row
        .content-centered
          %p The speakers involved are well known and come from near and far. They'll share life experiences, technical stories, and/or tales of success & failure.
          %p Dying to know who's going to be speaking? We'll announce a speaker after we raise $750 for the YWCA's YWeb Career Academy and another for each $250 thereafter.
      %ul.small-block-grid-2.large-block-grid-3.guest-list

        %li.locked
          %a.hover
            .overlay
              .text Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
