- content_for :head do
  %title= t('brand')

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#")= t('brand')
      %li.toggle-topbar.menu-icon
        %a(href="#!")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#{data.app.navigation_links.when_and_where}")= t('navigation.when_and_where')
        %li
          %a(href="#{data.app.navigation_links.musical_guests}")= t('navigation.musical_guests')
        %li
          %a(href="#{data.app.navigation_links.speakers}")= t('navigation.speakers')
        %li.has-form
          %a.button.radius(href="#{data.app.navigation_links.call_to_action}")
            = t('navigation.call_to_action')
.header
  .wrap
    .row
      .content-centered
        %h1= t('brand')
        %h3= t('hero.subtitle') 
        %p= t('hero.copy')

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.ywebca.org")
              %i.icon-ruby
              %span.collapse YWebCA
          %li
            %a(href="http://www.adorable.io/")
              %i.icon-leaf
              %span.collapse Adorable
          %li
            %a(href="#{twitter_link(t('brand'))}")
              %i.icon-twitter
              %span.collapse= t('hero.links.twitter.copy')
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Friday, February 20
        .line.two from
        .line.three 6:30 - 11 pm
      .row
        .content-centered
          %p Tripp Commons<br />UW Memorial Union
          %a.button(href="https://www.google.com/maps/place/Memorial+Union/@43.076251,-89.399754,17z/data=!3m1!4b1!4m2!3m1!1s0x8807accaa0165ae1:0x4001e911ad143b35") Get Directions

#sponsors
.sponsors
  .row
    .content-centered
      %h5= "#{t('brand')} made possible by"
      %ul.sponsor-list
        %li
          %a(href="http://www.google.com")
            %img(src="images/people/google.png")

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests

      %ul.small-block-grid-1
        %li.the-hook-up
          %a.hover
            .overlay
              .text
                Funk Punk Rock Trio
          %h2 The Hook Up

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      %ul.small-block-grid-2.large-block-grid-3.guest-list

        %li.tonia-brock
          %a.hover
            .overlay
              .text YWebCA Program Manager
          %h2 Tonia Brock

        %li.kelly-rauwerdink
          %a.hover
            .overlay
              .text
                Artist, Designer, &
                <br />
                Jack-of-all-trades
          %h2 Kelly Rauwerdink

        %li.francisco-valdes-jasso
          %a.hover
            .overlay
              .text
                YWebCA Student
          %h2
            Francisco
            <br />
            Valdes-Jasso

        %li.erica-naughton
          %a.hover
            .overlay
              .text
                YWebCA Student
          %h2 Erica Naughton

        %li.rachel-krinsky
          %a.hover
            .overlay
              .text CEO of YWCA Madison
          %h2 Rachel Krinsky

        %li.scott-resnick
          %a.hover
            .overlay
              .text
                Alderman &
                <br />
                Candidate for Mayor
          %h2 Scott Resnick

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
